extends layout

block content
  h1 Backstab Us
  p.lead Finally tell us what you really hate about our stuff or figure out why others don't like yours.
  hr
  .row
    .col-sm-12
      include partials/searchbox
  hr
  .row
    each site in mostStabbed
      - var stabIndex = Math.floor(Math.random() * site.stabs.length)
      .col-sm-6
        a.text-muted(href='/sites/' + site.url)
          h2 #{site.url} was stabbed #{site.stabs.length} times
        .row
          if site.stabs[stabIndex].shot
            .col-sm-4
              .thumbnail
                img(src='/screenshot/' + site.stabs[stabIndex].shot)
            .col-sm-8
              p.short-stab(title=site.stabs[stabIndex].text) #{site.stabs[stabIndex].text}
              p: a.btn.btn-default(href='/sites/' + site.url, role='button') View the gruelsome details »
          else
            .col-sm-12
              p.short-stab #{site.stabs[stabIndex].text}
              p: a.btn.btn-default(href='/sites/' + site.url, role='button') View the gruelsome details »
